body {
    direction: rtl;
    margin: 20px;
    width: 600px;
}

h1, h2, h3 {
    font-family: Calibri;
}

h1 {
    background-color: lightseagreen;
    width: 600px;
    height: 30px;
    font-size: 22pt;
    color: white;
    text-align: center;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
}

#manilmad {
    left: 200px;
    background-image: url('../IMG/מלבן אפור.png');
    height: 130px;
    width: 500px;
    background-size: 80%;
    background-repeat: no-repeat;
}

#my > li, #manilmad>p {
    font-family: Calibri;
    padding-top: 10px;
    padding-right: 180px;
   
}


#img1 {
    float: right;
    height: 300px;
    width: 200px;
    padding: 20px;
}

p {
    font-family: Calibri;
    text-align: right;
}

span {
    position: relative;
    left: 180px;
    top: 320px;
    font-family: Calibri;
    font-size: 10pt;
}

ol > li {
    font-family: Calibri;
}

#img2 {
    float: right;
    height: 250px;
    width: 170px;
    padding: 10px;
}

#colortitel {
    color: lightseagreen;
}

#lastsection {
    text-align: center;
    font-family: Calibri;
}

a {
    color: pink;
    text-decoration: underline;
}

    a:hover {
        background-color: royalblue;
        color: white;
    }

#video {
    color: cornflowerblue;
    font-size: 16pt;
    font-family: Calibri;
}